@import 'tailwindcss';

@theme {
  --color-custom-grey: #a1a1aa;
  --color-custom-dark: #17171a;
}

@variant dark (&:where(.dark, .dark *));

body {
  min-width: 390px;
  @apply bg-white text-black dark:bg-custom-dark dark:text-custom-grey;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
}

@media (max-width: 768px) {
  header {
    height: 56px;
  }
}

main {
  box-sizing: border-box;
  padding: 104px 180px 64px 180px;
  gap: 24px;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 104px 34px 64px 34px;
  }
}

footer {
  margin-top: auto;
}
