.nav-link-container {
  position: relative;
}

.nav-link-container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #14b8a6, #007bff);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link-container:hover::after,
.nav-link-container.active::after {
  transform: scaleX(1);
}

.nav-menu {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
}

.nav-menu.open {
  max-height: 300px;
  opacity: 1;
  overflow: visible;
}

.menu-toggle-container {
  position: absolute;
  right: 20px;
  top: 14px;
  transition: transform 0.3s ease;
  font-size: 26px;
  cursor: pointer;
}

.menu-toggle-container span {
  display: block;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.menu-toggle-container.open {
  transform: rotate(90deg);
}
